<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DataSource" value="SQLServer"/>-->
    <add key="DataSource" value="SQLServerCE"/>
    <!--  <add key="DataSource" value="MSAccess" />-->
    
  </appSettings>
  <connectionStrings>
    <add name="MyPlannerConnectionStringSQL" connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=MyPlanner;Integrated Security=True;MultipleActiveResultSets=True" providerName="System.Data.SqlClient"/>
    <add name="MyPlannerConnectionStringACCDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Rajan\DevArea\MyPlanner\MyPlanner\App_Data\MyPlanner.ACCDB" providerName="System.Data.OleDb"/>
    <add name="MyPlannerConnectionStringACCDB1" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Rajan\DevArea\MyPlanner\MyPlanner\App_Data\MyPlanner.ACCDB" providerName="System.Data.OleDb"/>
    <add name="MyPlannerConnectionString1" connectionString="Data Source=|DataDirectory|\MyPlanner.sdf" providerName="System.Data.SqlServerCe.4.0"/>
    <add name="MyPlannerConnectionStringSQLCE" connectionString="Data Source=E:\Github\MyPlanner\MyPlanner\App_Data\MyPlanner.sdf;;password=Myp@123" providerName="System.Data.SqlServerCe.4.0"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
