<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections>
<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General Activity">
  <listeners>
    <add name="Flat_GeneralActivity" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="E:\Github\MyPlanner\MyPlanner\APP_Log\App.log" footer=""
      formatter="TXTFORMAT_GeneralActivity" header="" rollFileExistsBehavior="Increment"
      rollInterval="Day" rollSizeKB="50" timeStampPattern="yyyy-MM-dd hh:mm:ss.fff tt"
      maxArchivedFiles="50" traceOutputOptions="Timestamp" />
    <add name="Flat_UserActivity" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="E:\Github\MyPlanner\MyPlanner\APP_Log\UsrAct.log"
      footer="" formatter="TXTFORMAT_UserActivity" header="" rollFileExistsBehavior="Increment"
      rollInterval="Day" rollSizeKB="50" timeStampPattern="yyyy-MM-dd hh:mm:ss.fff tt"
      maxArchivedFiles="35" traceOutputOptions="DateTime" filter="All" />
    <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      fileName="E:\Github\MyPlanner\MyPlanner\APP_Log\UnCateg.log"
      footer="" formatter="TXTFORMAT_UnCategorized" header="" rollInterval="Day"
      rollSizeKB="50" timeStampPattern="yyyy-MM-dd hh:mm:ss tt" maxArchivedFiles="50"
      traceOutputOptions="DateTime" />
  </listeners>
  <formatters>
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp}: Message: {message}" name="TXTFORMAT_GeneralActivity" />
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp} Message: {message}{newline}"
      name="TXTFORMAT_UnCategorized" />
    <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      template="Timestamp: {timestamp()} Message: {message}{newline}"
      name="TXTFORMAT_UserActivity" />
  </formatters>
  <categorySources>
    <add switchValue="Off" name="General Activity">
      <listeners>
        <add name="Flat_GeneralActivity" />
      </listeners>
    </add>
    <add switchValue="All" name="User Activity">
      <listeners>
        <add name="Flat_UserActivity" />
      </listeners>
    </add>
  </categorySources>
  <specialSources>
    <allEvents switchValue="All" name="All Events">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </allEvents>
    <notProcessed switchValue="All" name="Unprocessed Category">
      <listeners>
        <add name="Rolling Flat File Trace Listener" />
      </listeners>
    </notProcessed>
    <errors switchValue="Off" name="Logging Errors &amp; Warnings">
      <listeners>
        <add name="Flat_GeneralActivity" />
      </listeners>
    </errors>
  </specialSources>
</loggingConfiguration>
<connectionStrings>
  <add name="MyPlannerConnectionStringSQL" connectionString="Data Source=.\SQLEXPRESS2012;Initial Catalog=MyPlanner;Integrated Security=True;MultipleActiveResultSets=True"
    providerName="System.Data.SqlClient" />
  <add name="MyPlannerConnectionStringACCDB" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=D:\Rajan\DevArea\MyPlanner\MyPlanner\App_Data\MyPlanner.ACCDB"
    providerName="System.Data.OleDb" />
  <add name="MyPlannerConnectionStringSQLCE" connectionString="Data Source=E:\Github\MyPlanner\MyPlanner\App_Data\MyPlanner.sdf;password=Myp@123"
    providerName="System.Data.SqlServerCe.4.0" />
</connectionStrings>
<appSettings>
  <add key="APPLICATION_TITLE" value="MyPlanner" />
  <add key="DataSource" value="SQLServerCE" />
</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
